.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 2.5%;
}

.nome-pagina {
    font-weight: bold;
}

.icon {
    vertical-align: middle;
}

.button {
    margin: 10px;
}